<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/dashboard">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/access-requests">
            <span data-feather="file"></span>
            My details
        </a>
    </li>
    <ng-container *ngIf="isAdmin">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/resource-configs">
                <span data-feather="file"></span>
                User Admin
            </a>
        </li>
    </ng-container>
</ul>
