<div>
  <div class="alert-danger" *ngIf="message">Invalid username or password</div>
  <form class="form-signin" [formGroup]="loginForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" [class.is-invalid]="userId.touched && userId.invalid" placeholder="userid" formControlName="userId"
           required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" [class.is-invalid]="password.touched && password.invalid" placeholder="password" formControlName="password"
           required>
      <button class="btn-block btn-secondary btn-sm">Sign up</button>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="submit()" [disabled]="loginForm.invalid">Sign in</button>
  </form>
</div>

