<ng-container *ngIf="!loggedIn">
  <app-login></app-login>
</ng-container>

<ng-container *ngIf="loggedIn">
  <app-header></app-header>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <app-side-bar></app-side-bar>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding-top: 90px">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</ng-container>



